server:
  port: 18082

spring:
  application:
    name: rpc-agent1

agent1:
  auto-discover: true
  query: "规划三天旅游行程，优先推荐热门景点"
  max-skills: 10
  min-score: 0.6

lrpc:
  agent:
    enabled: true
    registry-base-url: http://localhost:18080
    discovery-base-url: http://localhost:18081

dashscope:
  api-key: ${API_KEY_DASH_SCOPE}
  chat-model: qwen-plus
