server:
  port: 18083

spring:
  application:
    name: rpc-agent2

lrpc:
  agent:
    enabled: true
    registry-base-url: http://localhost:18080

dashscope:
  api-key: ${API_KEY_DASH_SCOPE}
  chat-model: qwen-plus
