server:
  port: 18085

spring:
  application:
    name: rpc-agent4
  mvc:
    async:
      request-timeout: 120s

lrpc:
  provider:
    port: 19085
  agent:
    enabled: true
    registry-base-url: http://localhost:18080
    discovery-base-url: http://localhost:18081

dashscope:
  api-key: ${API_KEY_DASH_SCOPE}
  chat-model: qwen-plus
  timeout-seconds: 120

# Nacos配置
nacos:
  server-addr: hostName:port
  username:
  password: