server:
  port: 18084

spring:
  application:
    name: rpc-agent3

lrpc:
  provider:
    port: 19084
  agent:
    enabled: true
    registry-base-url: http://localhost:18080
    discovery-base-url: http://localhost:18081

dashscope:
  api-key: ${API_KEY_DASH_SCOPE}
  chat-model: qwen-plus
  timeout-seconds: 120
