# 服务器配置
server:
  port: 10002

# 日志配置
logging:
  level:
    root: INFO

# Spring配置
spring:
  application:
    name: rpc-provider-demo

# Redis配置
redis:
  address: "redis://hostName:port"
  password: "password"
  database:
  connectionMinimumIdleSize: 5
  connectionPoolSize: 15
  connectTimeout: 10000
  timeout: 5000
  retryAttempts: 3
  retryInterval: 1500

# Nacos配置
nacos:
  server-addr: hostName:port
  username:
  password:

# lrpc配置
lrpc:
  provider:
    address:
    port: